.user-profile,
.user-notification {
    height: 100%;
    overflow-y: auto;

    .user-info,
    .notification-info {

        @include flex(space-between, null, center);
        font-family: "Roboto", sans-serif;
        font-size: 0.9rem;
        color: var(--dark-text);
        border-bottom: 1px solid #ccc;

        .round-image {
            margin-right: 10px;

            @include media-query(tablet) {
                margin-right: 0px;

            }

            img {

                width: 45px;
                height: 45px;
                object-fit: cover;

                @include media-query(tablet) {
                    width: 20px;
                    height: 20px;
                }

            }
        }

        .cancel {
            @include flex(center, null, center);
            margin-left: 2px;
            padding: 5px;

            img {
                width: 15px;
                height: 15px;
            }

            @include media-query(tablet) {
                padding: 3px;

                img {
                    width: 10px;
                    height: 10px;
                }
            }

            &:hover {
                border-radius: 10px;
                background-color: var(--cancel-hover);
            }
        }


    }

    .user-profile-detail {
        @include flex(null, column, null);
        padding: 10px;
        margin-top: 20px;

        @include media-query(tablet) {
            padding: 10px 0px;
            margin-top: 10px;

        }
    }

    .text-decoration,
    .balance {
        @include flex(start, null, center);
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 1.079rem;
        color: var(--dark-text);
        padding: 10px 0px 0px 10px;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;

    }

    .menu-item:hover {
        background-color: var(--cancel-hover);
        border-radius: 10px;
        padding: 10px;
        transition: 0.085s ease;
    }

    .log-out {
        position: absolute;
        bottom: 5%;
        left: 15%;
        border-top: 1px solid #ccc;
        width: 80%;
        padding: 10px 0px;

        .text-decoration {
            height: 40px;
        }
    }

    .log-out.menu-item {
        padding: 0px;
    }

    @include media-query(laptop) {

        .user-info,
        .notification-info {
            font-size: 0.6rem;

            img {

                margin-right: 5px;

            }
        }



    }

    @include media-query(tablet) {

        .user-info,
        .notification-info {
            font-size: 0.5rem;

            img {

                width: 40px;

            }
        }

        .text-decoration,
        .balance {
            font-size: 0.9rem;
        }
    }
}