:root {
    --primary-color: #2ca9b5;
    --white: #ffffff;
    --dark-text: rgb(50, 49, 49);
    --card-shadow: 0 0 5px rgba(24, 24, 24, 0.161);
    --input-color: #88908e;
    --cancel-hover: #f4f4f4;
    --error-color: rgb(207, 125, 125)
}