.doctor-detailed-info {
    .container {
        .row {
            @media screen and (max-width:1140px) {
                @include flex(null, column, null);
            }

            .short-details {
                @include flex(null, null, center);
                gap: 20px;

                .short-info {
                    @include flex(center, column, start);
                    height: 230px;

                    .speciality {
                        .category-name {
                            color: var(--primary-color);
                            font-size: 16px;
                            line-height: 1rem;
                            font-weight: 600;


                            @media (min-width: 1024px) {
                                font-size: 18px;
                                line-height: 1.75rem;

                            }

                            @include media-query(phone) {
                                font-size: 14px;
                            }
                        }
                    }



                    .stars {
                        @include flex(center, null, center);
                        gap: 5px;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .rating {
                        margin-left: 5px;
                    }

                    h3 {
                        color: var(--dark-text);
                        font-size: 22px;
                        margin-top: 20px;
                        font-weight: bold;
                        line-height: 2.25rem;

                        @include media-query(phone) {
                            font-size: 16px;
                            margin-top: 0;
                            line-height: 1.45rem;
                        }
                    }

                    .hospital {

                        font-size: 14px;
                        line-height: 1.5;
                        font-weight: 400;
                        color: var(--dark-text);
                        max-width: 390px;

                        @media (min-width: 768px) {
                            font-size: 15px;
                        }
                    }
                }
            }

            .long-details {
                .border {
                    border-bottom: 1px solid #2caab565;

                    .about-btn,
                    .feedback-btn {
                        font-size: 16px;
                        color: var(--dark-text);
                        font-weight: 500;
                        cursor: pointer;
                    }

                    .border-b {
                        border-bottom: 1px solid var(--dark-text);
                    }
                }

                .seperated-details {
                    h3 {
                        letter-spacing: 2px;
                        color: var(--primary-color);
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 2.25rem;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.75;
                        font-weight: 400;
                        color: var(--dark-text);

                        @media (min-width: 768px) {
                            font-size: 15px;
                        }
                    }

                    .reviews {
                        padding-bottom: 40px;

                        h4 {
                            font-size: 20px;
                            line-height: 30px;
                            font-weight: bold;
                            color: var(--dark-text);
                            margin-bottom: 30px;
                            letter-spacing: 2px;
                        }

                        .reviewers {
                            @include flex(space-between, column, null);
                            gap: 50px;
                            width: 900px;

                            @include media-query(laptop) {
                                width: 720px;
                            }



                            @include media-query(phone) {
                                width: 350px;
                            }

                            // @media screen and (max-width:388px) {
                            //     width: 200px;
                            // }
                            @media screen and (max-width:378px) {
                                width: 150px;
                            }

                            @media screen and (max-width:357px) {
                                width: 100px;
                            }


                            .reviewer {

                                @include flex(start, null, center);
                                gap: 10px;

                                h5,
                                .review-date {
                                    width: 130px;
                                    font-size: 12px;
                                    margin-top: 10px
                                }

                                @include media-query(laptop) {
                                    width: 720px;
                                }




                                @include media-query(phone) {
                                    width: 360px;
                                    @include flex(start, column, start);
                                }




                                @media screen and (max-width:389px) {
                                    width: 200px;
                                }

                                @media screen and (max-width:378px) {
                                    width: 150px;
                                }

                                @media screen and (max-width:357px) {
                                    width: 100px;
                                }

                                .reviewer-comment {
                                    width: 1000px;
                                    border-left: 1px solid #2caab565;
                                    padding-left: 20px;

                                    @include media-query(tablet) {
                                        width: 500px;
                                    }



                                    @include media-query(phone) {
                                        width: 350px;
                                        border-left: none;
                                        border-top: 1px solid #2caab565;
                                        padding-top: 20px;
                                        padding-left: 0px;
                                    }


                                    @media screen and (max-width:388px) {
                                        width: 300px;
                                    }
                                }
                            }


                        }

                        .give-feedback-form {
                            .ant-btn {
                                @include flex(center, null, center);
                                float: left;
                                font-size: 12px !important;
                                font-weight: bold !important;
                                width: 120px !important;
                            }


                        }



                        .feedback-form {
                            max-width: 1040px;

                            @media screen and (max-width:390px) {
                                width: 300px;
                            }

                            .starred-feedback {
                                .text-yellowColor {
                                    color: #ffd200;
                                    ;
                                }

                                .text-gray-400 {
                                    color: gray;
                                    font-weight: 400;
                                }
                            }

                            .starcolor {
                                cursor: pointer;
                                background: transparent;
                                border: none;
                                outline: none;
                                font-size: 22px;
                            }

                            textarea {
                                width: 860px;
                                height: 100px;
                                border: 1px solid #d9d9d9;
                                border-radius: 6px;
                                padding: 6.4px 12px;
                                font-size: 16px;
                                line-height: 1.5;
                                color: rgb(156, 156, 156);

                                &:hover,
                                &:focus {
                                    border-color: var(--primary-color);
                                    outline: 0;
                                    box-shadow: 0 1px 1px 0px rgba(38, 145, 155, 0.2);
                                }

                                @media screen and (max-width:1400px) {
                                    width: 760px;
                                    height: 100px;
                                }

                                @media screen and (max-width:1200px) {
                                    width: 620px;
                                    height: 100px;
                                }

                                @include media-query(tablet) {
                                    width: 300px;
                                    margin-bottom: 10px;
                                }


                                @include media-query(laptop) {
                                    width: 460px;
                                }

                                @media screen and (max-width:790px) {
                                    width: 460px;
                                    height: 100px;
                                }

                                @include media-query (phone) {
                                    width: 350px;
                                }

                                @media screen and (max-width:540px) {
                                    width: 350px;
                                    height: 100px;
                                }

                                @media screen and (max-width:390px) {
                                    width: 300px;
                                }

                            }

                            .give-feedback-form.submit-btn {

                                @include media-query(laptop) {
                                    width: 400px;
                                }

                                @include media-query(tablet) {
                                    width: 400px;
                                }

                                @media screen and (max-width:445px) {
                                    width: 350px;
                                }

                                @media screen and (max-width:390px) {
                                    width: 300px;
                                }

                                .ant-btn {
                                    float: right;
                                    font-size: 12px !important;
                                    font-weight: bold !important;
                                    width: 100px !important;
                                    height: 40px !important;
                                }
                            }
                        }
                    }

                    .dr-blogs-list {
                        .dr-blogs {

                            .dr-blog {

                                @include flex(start, column, center);
                                gap: 30px;

                                @include media-query(tablet) {
                                    @include flex(start, row, center);
                                    flex-wrap: wrap;
                                    gap: 0px;
                                }

                                .card-items {
                                    height: 200px;
                                    @include flex(start, row, center);

                                    @include media-query(tablet) {
                                        @include flex(start, column, center);
                                        height: 420px;
                                    }

                                    &:hover {
                                        transform: scale(1.035);
                                        transition: 0.5s transform;
                                    }
                                }

                                .image {
                                    border-top-left-radius: 7px;
                                    border-bottom-left-radius: 7px;
                                    overflow: hidden;
                                    width: 200px;

                                    @include media-query(tablet) {
                                        border-top-left-radius: 7px;
                                        border-bottom-left-radius: 0px;
                                        border-top-right-radius: 7px;
                                    }

                                    img {
                                        width: 200px;
                                        height: 200px;
                                        object-fit: cover;
                                    }
                                }

                                .blog-item-info {
                                    font-family: 'Roboto', sans-serif;
                                    padding-left: 30px;
                                    width: 500px;
                                    height: 200px;
                                    background-color: rgba(245, 243, 241, 0.685);

                                    @include flex(space-between, row, start);

                                    @include media-query(laptop) {
                                        width: 400px;
                                        height: 200px;
                                        background-color: none;
                                        padding-left: 10px;
                                    }

                                    @include media-query(tablet) {
                                        @include flex(start, column, null);
                                        width: 200px;
                                        height: 200px;
                                        background-color: none;
                                        padding-left: 10px;
                                    }

                                    @include media-query(phone) {
                                        @include flex(null, column, null);
                                        width: 200px;
                                        height: 240px;
                                        background-color: none;
                                        padding-left: 10px;
                                        line-height: 15px;
                                    }

                                    .blog-item-short {
                                        @include flex(start, column, start);
                                        gap: 10px;

                                        @include media-query(tablet) {
                                            gap: 5px;
                                        }

                                        .card-item-header {
                                            font-size: 14px;
                                            line-height: 20px;
                                            word-wrap: break-word;
                                            color: var(--dark-text);
                                            font-weight: 500;
                                            margin-top: 0.75rem;

                                            @media (min-width: 1024px) {
                                                width: 300px;
                                                font-size: 14px;
                                                line-height: 20px;
                                                margin: 5px 0px;
                                            }

                                            @include media-query(laptop) {
                                                width: 290px;
                                                line-height: 20px;
                                                font-size: 14px;

                                            }

                                            @include media-query(tablet) {
                                                width: 190px;
                                                line-height: 20px;
                                                font-size: 12px;
                                                padding: 0px;
                                                margin-bottom: 0px;
                                            }




                                            @media (min-width: 1024px) {
                                                margin-top: 1.25rem;
                                            }
                                        }

                                        .ratings {


                                            @include media-query(tablet) {
                                                margin: 0px 0px;
                                            }

                                            .stars-rates {
                                                display: flex;
                                                align-items: center;
                                                gap: 6px;
                                                font-size: 14px;
                                                font-weight: 600;
                                                color: var(--dark-text);

                                                @media (min-width: 1024px) {
                                                    font-size: 16px;
                                                    line-height: 1.75rem;
                                                }

                                                img {
                                                    width: 20px;
                                                    height: 20px;
                                                }
                                            }

                                            .rate {
                                                font-size: 14px;
                                                font-weight: 400;
                                                color: var(--dark-text);

                                                @media (min-width: 1024px) {
                                                    font-size: 16px;
                                                    font-weight: 400;
                                                }

                                                .text-textColor {
                                                    color: var(--dark-text);
                                                }
                                            }
                                        }

                                        .blog-item-intro {
                                            @media (min-width: 1024px) {
                                                margin-top: 1.25rem;

                                            }

                                            .categoryId,
                                            .createdAt {
                                                font-size: 13px;
                                                line-height: 1.55;
                                                font-weight: 400;
                                                color: var(--dark-text);
                                                word-wrap: break-word;
                                                width: 200px;
                                            }


                                        }

                                    }

                                    .goto-details {
                                        width: 35px;
                                        height: 35px;

                                        border-radius: 50%;
                                        border: 1px solid var(--primary-color);
                                        float: right;
                                        // margin-right: 30px;
                                        @include flex(center, null, center);
                                        transition: background-color 0.3s, border-color 0.3s;


                                        span {
                                            display: none;
                                        }

                                        &:hover {
                                            background-color: var(--primary-color);

                                            i {
                                                color: white;
                                            }

                                        }

                                        i {
                                            color: var(--primary-color);
                                            font-size: 1rem;

                                        }

                                    }
                                }


                            }
                        }

                    }

                }
            }

            .doctor-image {
                border-radius: 7px;
                overflow: hidden;

                .css-dev-only-do-not-override-1qfezbu.ant-image {
                    img {
                        width: 250px !important;
                        height: 250px !important;
                        object-fit: cover !important;

                        @include media-query(phone) {
                            width: 200px !important;
                            height: 200px !important;
                        }

                        @media (max-width:460) {
                            width: 150px !important;
                            height: 150px !important;
                        }

                    }
                }

            }


        }



        .availabilities {
            box-shadow: 0 0 5px rgba(24, 24, 24, 0.161);
            border-radius: 10px;
            width: 400px;

            @media (min-width: 1024px) {
                padding: 20px;

            }

            @media screen and (max-width:440px) {
                width: 330px;
            }

            .price {
                span {
                    font-size: 20px;
                }
            }

            .doctor-availability-list {


                .css-dev-only-do-not-override-1qfezbu.ant-table-wrapper .ant-table.ant-table-middle .ant-table-tbody>tr>td {
                    padding: 0px 15px;

                }

                .css-dev-only-do-not-override-1qfezbu.ant-table-wrapper .ant-table.ant-table-middle .ant-table-tbody>tr>td:last-child {
                    @include flex(center, null, center)
                }

                .ant-table-cell {
                    height: 40px;
                }

                @include media-query(laptop) {
                    margin-bottom: 20px;
                    // padding: 20px 0px;

                }



                .ant-card-body {
                    padding: 0px 0px 20px 0px;
                }

                .css-dev-only-do-not-override-1qfezbu.ant-table-wrapper .ant-table-pagination.ant-pagination {
                    margin: 15px 0px 0px 0px !important;
                }

                .css-dev-only-do-not-override-1qfezbu.ant-btn-default:not(:disabled):not(.ant-btn-disabled) {
                    height: 25px;
                    width: 25px;
                    margin-top: 0px;
                }


            }

        }
    }


}

.ant-modal-content {
    .ant-modal-body {
        .payment-container {
            @include flex(flex-start, column, start);
            gap: 10px;

            img {
                width: 130px !important;
                float: right;

                @include media-query(tablet) {
                    width: 100px !important;
                }

            }

            .payment-details {
                @include flex(flex-start, column, start);
                gap: 10px;
            }
        }
    }
}

.find-doctor {
    width: 500px;

    @include media-query(tablet) {
        width: 200px;
    }
}

.css-dev-only-do-not-override-1qfezbu.ant-image-preview-root .ant-image-preview-img {
    width: 400px !important;
    height: 400px !important;
    object-fit: cover !important;
}


.ant-input-group-addon {
    background: none !important;
    ;
}

.ant-input-search-button {
    z-index: 47895 !important;
    top: -20px;
}

.ant-input-group-wrapper {
    margin-top: 20px;

    @include media-query(tablet) {
        width: 250px !important;
    }
}


.css-dev-only-do-not-override-1qfezbu.ant-input-outlined:focus,
.css-dev-only-do-not-override-1qfezbu.ant-input-outlined:focus-within,
.css-dev-only-do-not-override-1qfezbu.ant-input-outlined:hover,
.css-dev-only-do-not-override-1qfezbu.ant-input-search .ant-input:focus,
.css-dev-only-do-not-override-1qfezbu.ant-input-search .ant-input:hover {
    border-color: var(--primary-color) !important;
}